---
import Layout from "../components/Layout.astro";
import { Code } from "astro:components";

const full = `#box {
  background-color: red;
}
  
@media (max-width: 992px) { 
  #box {
    background-color: blue;
  }
};

@media (max-width: 768px) { 
  #box {
    background-color: green;
  }
};

@media (max-width: 576px) { 
  #box {
    background-color: blueviolet;
  }
};
`;
---

<Layout>
  <div class="flex flex-col gap-4">
    <div
      class="h-80 w-80 flex justify-center items-center text-white font-bold text-4xl"
      id="box"
    >
    </div>
    <div class="w-80 flex flex-col gap-4">
      <Code code={full} lang="css" />
    </div>
  </div>
</Layout>

<style>
  #box {
    background-color: brown;
  }

  @media (max-width: 992px) {
    #box {
      background-color: blue;
    }
  }

  @media (max-width: 768px) {
    #box {
      background-color: green;
    }
  }

  @media (max-width: 576px) {
    #box {
      background-color: blueviolet;
    }
  }
</style>

<script>
  const box = document.getElementById("box");

  if (box) {
    box.innerText = +window.innerWidth + "px";
    window.addEventListener(
      "resize",
      () => (box.innerText = +window.innerWidth + "px")
    );
  }
</script>
