---
import Back from "../components/Back.astro";
import Layout from "../components/Layout.astro";
import { Code } from "astro:components";

const full = `#box:hover {
  background-color: brown;
}

@media (hover: hover) {
  #box {
    background-color: blue;
  }
}

@media (hover: none) {
  #box {
    background-color: green;
  }
}
`;
---

<Layout>
  <Back />
  <div class="flex flex-col gap-4">
    <div
      class="h-80 w-80 flex justify-center items-center text-white font-bold text-4xl"
      id="box"
    >
    </div>
    <div class="w-80 flex flex-col gap-4">
      <Code code={full} lang="css" />
    </div>
  </div>
</Layout>

<style>
  #box:hover {
    background-color: brown;
  }

  @media (hover: hover) {
    #box {
      background-color: blue;
    }
  }

  @media (hover: none) {
    #box {
      background-color: green;
    }
  }
</style>
