---
import Layout from "../components/Layout.astro";

const items: string[] = ["breakpoints.html"];
---

<Layout>
  <div class="flex flex-col gap-4">
    {
      items.map((href) => (
        <a class="bg-blue-600 rounded p-4 text-white hover:bg-blue-700" {href}>
          {href}
        </a>
      ))
    }
  </div>
</Layout>
