<html lang="ru" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="p-4 h-full flex flex-col gap-4">
    <slot />
  </body>
</html>

<style is:global>
  html {
    color-scheme: light dark;
  }
</style>
